<section class="  animated fadeIn">
    <div class="cardAddMoney">
        <div class="row">
            <div class="col-12">
                <i class="zmdi zmdi-close-circle closeModal" (click)="closeModal()"></i>
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-12">
                <h3>Datos del deudor</h3>
            </div>
        </div>
        <div class="row" algn="center">

            <div class="col-8">
                <div class="row rowInfoStyle">
                    <div class="col-12">
                        <span style="font-size: 18px"> <strong>Nombre:</strong></span>
                        <span style="font-size: 15px">{{userTemp.nombre}} </span>
                    </div>
                </div>
                <div class="row rowInfoStyle">
                    <div class="col-12">
                        <span style="font-size: 18px"> <strong>Dirección:</strong></span>
                        <span style="font-size: 15px">{{userTemp.domicilio}} </span>
                    </div>
                </div>
                <div class="row rowInfoStyle">
                    <div class="col-12">
                        <span style="font-size: 18px"> <strong>Teléfono:</strong></span>
                        <span style="font-size: 15px">{{userTemp.telefono}} </span>
                    </div>
                </div>
                <div class="row rowInfoStyle">
                    <div class="col-12">
                        <span style="font-size: 18px"> <strong>Vencimiento:</strong></span>
                        <span style="font-size: 15px">{{userTemp.vencimiento}} </span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row mt-20">
                    <div class="col-12">
                        <span style="font-size: 18px"> <strong>Total a deber:</strong></span>
                        <div style="font-size: 15px">${{userTemp.totalDeuda}} </div>
                    </div>
                </div>
                <div class="row m-t-10">
                    <button class="btn btn-primary m-l-20" (click)="payOffDebt()">Liquidar deuda</button>
                </div>
                <div class="row m-t-15">
                    <div class="col-10">

                        <div  class="form-group inputFieldStyle">
                            <span style="font-size: 18px"> <strong>Ingresar abono:</strong></span>
                            <input  class="form-control form-control-line" placeholder="Ingrese la cantidad" type="number"
                                   #abono (keyup.enter)="confirmarAbono(abono.value)" autofocus max="5"
                            >

                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <button class="btn btn-success m-l-20" (click)="confirmarAbono(abono.value)">Agregar abono</button>
                </div>
            </div>
        </div>
    </div>
</section>