.cardAddMoney{
  width: 600px;
  height: 350px;
}
.closeModal{
  color: #e74c3c;
  font-size: 40px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}
.rowInfoStyle{
  margin-top: 20px;
  margin-left: 15px;
}

.mt-20{
  margin-top: 20px;
}