.cardAddMoney {
  width: 700px;
  height: 450px;
}

.closeModal {
  color: #e74c3c;
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  left: 10px;
  top: 5px;
}

.rowInfoStyle {
  margin-top: 20px;
  margin-left: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.note {
  background-color: #ffe28e;
  height: 450px;
}

.not-found{
  font-size: 22px;
  color: #707070;
}

.not-found-quote{
  font-size: 60px;
  color: #707070;
}

.edit-note{
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  right: 35px;
  bottom: 20px;
}

.edit-cancel{
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  right: 95px;
  bottom: 20px;
}