<section>
  <div class="cardConfirmarAbono">
    <div class="row">
      <div class="col-12">
        <i class="zmdi zmdi-close-circle closeModal" (click)="closeModal()"></i>
      </div>
      <div class="row">
        <div class="col-12">
            <h1>¿Desea confirmar el abono?</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-success">Confirmar</button>
          <button class="btn btn-danger">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</section>