<section>
    <div class="cardModal">
        <!--button close-->
        <div class="row">
            <div class="col-12">
                <i class="zmdi zmdi-close-circle closeModal" (click)="closeModal()"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-12" align="center">
                <h1>Historial</h1>
            </div>
        </div>

        <!--seccion para barra y boton de devolver-->
        <div class="row">
            <div class="col-12" align="center">
                <i class="zmdi zmdi-search m-r-5"></i>
                <div class="form-group styleSearch m-b-0">
                    <input class="form-control mr-sm-2 form-control-line  " type="search" placeholder="Buscar un deudor"
                           aria-label="Search" [(ngModel)]="busqueda" name="busqueda"
                           (ngModelChange)="searchDebt(busqueda)">
                    <i class="form-group__bar"></i>
                </div>
                <!--<button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="searchDebt(busqueda)">-->
                    <!--Buscar-->
                <!--</button>-->
            </div>
        </div>

        <div class="row" style="padding: 20px;" id="tablaHistorial">
            <div class="col-12">
                <!--tabla con los datos obtenidos de firebase-->
                <table class="table header_fijo">
                    <thead class="thead-inverse">
                    <tr class="w-760">
                        <th scope="col" class="w-400">Nombre</th>
                        <th scope="col" class="w-150">Estado</th>
                        <th scope="col" class="w-150">Deuda</th>
                        <th scope="col" class="w-150">Vencimiento</th>
                    </tr>
                    </thead>
                    <tbody style="overflow-y: auto; height: 400px; width: 760px;">
                    <perfect-scrollbar>
                        <tr *ngFor="let debtor of debtorTemp">
                            <td class="w-400">{{debtor.nombre}}</td>
                            <td class="w-150">{{debtor.estado}}</td>
                            <td class="w-150">${{debtor.totalDeuda}}.00</td>
                            <td class="w-150">{{debtor.vencimiento}}</td>
                        </tr>
                    </perfect-scrollbar>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

