<div class="card m-b-0 animated fadeIn" style="width: 700px; height: 450px;">

    <div class="card-header" align="center">
        <h3>AGREGAR DEUDOR</h3>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="offset-1 col-6 p-l-0">
                <div>Nombre</div>
                <div class="input-group">
                    <div class="form-group">
                        <input type="text" class="form-control p-l-0" style="border-bottom: 1px solid #e0e0e0;"
                               [(ngModel)]="debtor.nombre" name="e" autofocus>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>

            <div class="col-2 p-l-0">
                <div>Total deuda</div>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <div class="form-group">
                        <input type="number" class="form-control p-l-0" style="border-bottom: 1px solid #e0e0e0;"
                               [(ngModel)]="debtor.totalDeuda" name="e" placeholder="0.00">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>

            <div class="col-2 p-l-0">
                <div>Anticipo</div>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <div class="form-group">
                        <input type="number" class="form-control p-l-0" style="border-bottom: 1px solid #e0e0e0;"
                               [(ngModel)]="anticipo" name="e" placeholder="0.00">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-t-20">
            <div class="offset-1 col-6 p-l-0">
                <div>Domicilio</div>
                <div class="input-group">
                    <div class="form-group">
                        <input type="text" class="form-control p-l-0" style="border-bottom: 1px solid #e0e0e0;"
                               [(ngModel)]="debtor.domicilio" name="e">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div>Telefono</div>
                <div class="input-group">
                    <div class="form-group">
                        <input type="number" class="form-control p-l-0" style="border-bottom: 1px solid #e0e0e0;"
                               [(ngModel)]="debtor.telefono" name="e" placeholder="Ejemplo: 6622334455">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-t-20">
            <div class="offset-1 col-6 p-l-0">
                <div>Superficie</div>
                <div class="input-group">
                    <div class="form-group">
                        <input type="text" class="form-control p-l-0" style="border-bottom: 1px solid #e0e0e0;"
                               [(ngModel)]="debtor.superficie" name="e">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>

            <div class="col-2 p-l-0">
                <div>Plazo</div>
                <div class="input-group">
                    <div class="form-group">
                        <select name="" id="" class="form-control form-control-line" [(ngModel)]="plazoDePago">
                            <option [value]="Plazos.semanal">Semanal</option>
                            <option [value]="Plazos.quincenal">Quincenal</option>
                            <option [value]="Plazos.mensual">Mensual</option>
                        </select>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>

            <div class=" col-2 p-l-0">
                <div>Numero de plazos</div>
                <div class="input-group">
                    <div class="form-group">
                        <input type="number"
                               class="form-control p-l-0 form-control-line"
                               (keyup)="getNextPay(debtor.numeroPlazos, debtor.totalDeuda)"
                               [(ngModel)]="debtor.numeroPlazos"
                               name="e"
                        >
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-t-20">
            <div class="offset-1 col-6 p-l-0">
                <div>Pagos {{ plazoDePago == Plazos.mensual ? 'Mensual' : plazoDePago == Plazos.quincenal ? 'Quincenal'
                    : plazoDePago == Plazos.semanal ? 'Semanal' : '' }}
                </div>
                <div class="input-group">
                    <div class="form-group">
                        <input type="number"
                               class="form-control p-l-0"
                               style="border-bottom: 1px solid #e0e0e0;"
                               [(ngModel)]="debtor.abonos"
                               name="e"
                               [disabled]="!fijarAbonos"
                               #abono
                        >
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>

            <div class="col-4 p-t-20">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox"
                           class="custom-control-input"
                           [(ngModel)]="fijarAbonos"
                           (change)="getNextPay(debtor.numeroPlazos, debtor.totalDeuda); focusToPayBond()"

                    >
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Cambiar abonos</span>
                </label>
                <!--<label class="control control&#45;&#45;checkbox">-->
                    <!--Establecer pago de abonos-->
                    <!--<input type="checkbox"-->
                           <!--[(ngModel)]="fijarAbonos"-->
                           <!--(change)="getNextPay(debtor.numeroPlazos, debtor.totalDeuda)"-->
                    <!--/>-->
                    <!--<span class="control__indicator"></span>-->
                <!--</label>-->
            </div>
        </div>

        <!--<div class="row m-t-20">-->
        <!--<div class="col-12 m-r-15" align="right" style="top:25px">-->
        <!--<button type="submit" class="btn btn-success m-r-10" (click)="addDebtor()">Agregar</button>-->
        <!--<button class="btn btn-danger" (click)="closeModal()">Cancelar</button>-->
        <!--</div>-->
        <!--</div>-->
    </div>

    <div class="card-footer p-l-10 m-t-50" align="right">
        <button type="submit" class="btn btn-success m-r-10" (click)="addDebtor()">Agregar</button>
        <button class="btn btn-danger" (click)="closeModal()">Cancelar</button>
    </div>

</div>
