<section class="animated fadeIn">

    <div class="card m-b-0 p-l-15 p-r-15">
        <div class="card-header p-b-5">
            <h4>Historial de abonos de "{{ debtor.nombre }}"</h4>
        </div>
        <div class="card-body body-size m-b-10">
            <perfect-scrollbar>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Abono</th>
                        <th>Fecha</th>
                        <th>Ticket</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let bond of bonds">
                        <td>${{ bond.abono }}</td>
                        <td>{{ bond.fechaAbono }}</td>
                        <td *ngIf="bond.ticket">
                            <i class="zmdi zmdi-print zmdi-hc-2x text-primary cursor-pointer"
                               (click)="printTicket(bond.ticket)"></i>
                        </td>
                        <td *ngIf="!bond.ticket">
                            <i class="zmdi zmdi-close-circle zmdi-hc-2x text-danger"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </perfect-scrollbar>

        </div>
        <div class="card-footer" align="right">
            <button class="btn btn-danger" (click)="closeModal()">Cerrar</button>
        </div>
    </div>

</section>
